body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;

    padding: 1.2rem 0;
}

.hero {
    text-align: center;
    padding: 5rem 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.8rem;
}

.product-card {
    width: 300px;
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
    bottom: 0;
    width: 100%;
}